$primary-color: #fcfaf8;
$loader-color: #161616;
$green: #14cf93;
$text-dark: #383838;
$text-light: #a5a5a5;
$secondary-color: #f2f2f2;
$button-color: #e6e5e3;
@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Medium.e7e7c091.ttf);
}

@font-face {
  font-family: "Gilroy Bold";
  src: url(./fonts/Gilroy-SemiBold.f3ed44cd.ttf);
}

@font-face {
  font-family: "Mazius";
  src: url(./fonts/Mazius-Extraitalic.121a71a7.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Gilroy";
  color: $text-dark;
  background-color: $primary-color;
}

#main {
  width: 100%;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $loader-color;
  color: #fff;
  z-index: 99999;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: 500;
  }

  #top-heading {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);

    h5 {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 300;
      text-align: center;
    }
  }
}

#green {
  width: 100%;
  position: fixed;
  top: 100%;
  height: 0;
  background-color: $green;
  z-index: 99999;
}

.reveal .parent {
  display: block !important;
  overflow: hidden !important;

  .child {
    display: block;
    width: fit-content;

    span {
      display: inline-block;
    }
  }
}

.accent {
  font-family: "Mazius" !important;
  color: $green;
  font-style: italic;
}

#home {
  width: 100%;
  height: 170vh;
  background-color: $primary-color;

  #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    width: 100%;
    height: 100px;

    a {
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 12px;
      color: $text-dark;

      .line {
        position: absolute;
        bottom: 0;
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: $loader-color;
      }
      #line1 {
        left: 0;
        width: 0;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
        transition-delay: 0.1s;
      }
      #line2 {
        right: 0;
        width: 100%;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
      }
    }
    a:hover #line2 {
      width: 0;
    }
    a:hover #line1 {
      width: 100%;
    }
  }
}

.row {
  margin-top: 5vw;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $text-dark;
  padding: 0 7vw;
  line-height: 1;
  padding-right: 12vw;

  h1 {
    font-size: 12vw;
    font-weight: 500;
  }

  .text {
    margin-top: 5vw;
  }

  h5 {
    opacity: 0.6;
    font-size: 11px;
    font-weight: 500;
  }
}

.row:nth-child(3) {
  margin-top: 0;
}

#frontend {
  font-size: 9vw;
  line-height: 1.5;
  margin: 0 2vw;
  font-family: "Mazius" !important;
  //   padding: 2vw;
}

.for {
  font-family: "mazius";
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

#imagery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20vw;
  width: 100%;
  padding: 0 7vw;

  .imglef {
    width: 30%;
    height: auto;

    h1 {
      font-size: 2.5vw;
      font-weight: 500;
    }
  }
  .imgrig {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    width: 60%;

    .imgcntnr {
      position: absolute;
      width: 27vw;
      height: 40vw;
      border-radius: 2vw;
      filter: grayscale();
      transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    }
  }
}

.imgcntnr:hover {
  filter: none;
}

.imgcntnr:nth-child(1) {
  transform: translate(-40%, -8%) rotate(-20deg);
  background-image: url(./assets/img/card1img.png);
  background-size: cover;
  background-position: center;
}
.imgcntnr:nth-child(2) {
  transform: translate(-15%, 0%) rotate(-15deg);
  background-image: url(./assets/img/card2.png);
  background-size: cover;
  background-position: center;
}
.imgcntnr:nth-child(3) {
  transform: translate(20%, 10%) rotate(-5deg);
  background-image: url(./assets/img/card3.png);
  background-size: cover;
  background-position: center;
}
